

body {
    background: url('Watch-Netflix2.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.navbar-header {
    font-size:300%;
}
.navbar-brand {
    color: red;
}

#topRow {
    padding-top:30px;
    width:200px;
    height:100px;
    float:left;
}

.btn-danger {
    float:right;
    position: relative;
    margin-left:600px;
    margin-top: 30px;
}

.glyphicon {
    font-size: 30px;
}

#holder {
    margin-top:20;
    width:100px;
    height:50px;
}

.lead {
    clear:both;
    color:white;
}

.navbar-fixed-bottom {
    opacity:0.75;
    background-color: grey;
    height:170px;
}

.col-md-4 {
    padding:10px;
    color: white;
    text-align:center;
}
